:root {
  --main-text-color: #434455;
  --text-header: #2e2f42;
  --color-hero: #2e2f42;
  --Light-mode-ourteam: #f4f4fd;
  --main-btn: #f4f4fd;
  --nav-color: #4d5ae5;
  --nav-color-acctive: #404bbf;
  --white-text: #ffffff;
  --button-portfolio: #f4f4fd;

  --black: #000000;
  --team-section-style: ;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

ul {
  padding-left: 0;
  
  margin-left: 0;
}

.link {
  text-decoration: none;
}
.list {
  list-style: none;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--white-text);
  color: var(--main-text-color);
}

.container {
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.jobs-container,
.team-members,
.advantages-list {
  display: flex;
}

.image {
  display: block;
}

/* Header */

.page-header {
  padding: 24px 0;
  background-color: var(--white-text);
  border-bottom: 1px solid #e7e9fc;
}

.header-container {
  display: flex;
}

.main-nav,
.link-ul,
.contact-link {
  display: flex;
}

.main-nav {
  align-items: center;
}

.logo {
  display: block;
  margin-right: 76px;
  text-decoration: none;
  list-style: none;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--nav-color);
}

.header-studio-word {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-header);
}

.nav-link {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-header);

  padding: 24px 0;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--nav-color-acctive);
}

.header-item:not(:last-child) {
  margin-right: 40px;
}

.contact {
  margin-left: auto;
  align-items: center;
  font-style: normal;
}

.contact-item:not(:last-child) {
  margin-right: 40px;
}

.contact-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}

.contact-link:hover,
.contact-link:focus {
  color: var(--nav-color-acctive);
}

/* Hero section */

.hero {
  background: var(--color-hero);
  padding: 188px 0;
}

.hero-header {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--white-text);

  margin: 0 auto;
  margin-bottom: 48px;
  display: block;
  max-width: 496px;
}

.booking-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  letter-spacing: 0.04em;
  color: var(--white-text);
  background: var(--nav-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;

  display: block;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  border: none;

  flex-direction: row;
  padding: 16px;
  gap: 10px;
  border-radius: 4px;
}

.booking-btn:hover,
.booking-btn:focus {
  background-color: var(--nav-color-acctive);
}

h1 {
  color: var(--white-text);
}
h2,
h3,
a {
  color: var(--text-header);
}

/* ADVANTAGES*/
.advantages-section {
  padding: 120px 0;
}

.advantages-list {
  flex-wrap: nowrap;
  flex-direction: row;
  gap: 24px;
}

.advantages-list:not(:first-child) {
  /* margin-left: 24px; */
}

.advantage-item {
  flex-wrap: wrap;
  width: calc((100% - 72px) / 4);
}

.advantage-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--text-header);
  margin-bottom: 8px;
}

.advantage-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/*What Are We Doing*/

.job-section {
  padding-bottom:  120px;
}

.jobs-container {
  gap: 24px;
}

.jobs-item {
  width: calc((100%-48px) / 3);
}

.section-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--text-header);
  margin-bottom: 72px;
}

/*Team*/

.section-team {
  background-color: var(--Light-mode-ourteam);
  padding: 120px 0;
}

.team-members {
  gap: 24px; 

  /* width: calc((100%-72px) / 4); */
  display: flex;
}

/* .member:not(:first-child) {
  margin-left: 24px;

  width: calc((100%-72px) / 4);
} */

.member {
  background: var(--white-text);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.worker-team {
  text-align: center;
  padding: 32px 16px;
}
.team-worker {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--text-header);
  margin-bottom: 8px;
}
.title-job {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  margin-top: 8px;
}

/*FOOTER*/

footer {
  /* background: #2e2f42; */
  background: var(--color-hero);
}
.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
}

.footer-section {
  padding: 100px 0;
}

.logo-foot {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-btn);
  display: inline-block;
  /* margin-bottom: 16px; */
}

.fut {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-btn);
  /* margin-top:  16px; */
  display: block;
  max-width: 264px;
}

/**PORTFOLIO**/

.section-products {
  padding: 96px 0 120px;
}

.nav-list {
  display: flex;
  justify-content: center;
  margin-bottom: 72px;
  gap: 24px;
}

.button-portfolio {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--nav-color);
  background-color: var(--button-portfolio);

  border: 1px solid #e7e9fc;
  border-radius: 4px;
  padding: 12px 24px;
  /* border: 1px solid transparent; */
}

.button-portfolio:focus,
.button-portfolio:hover {
  color: var(--white-text);
  background-color: var(--nav-color-acctive);
  border: 1px solid transparent;
}

.button {
  cursor: pointer;
}

/* .product-card{
  background: #FFFFFF;
} */

.progect-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--text-header);

  margin-bottom: 8px;
}

.progect-descr {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}

.product {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  row-gap: 48px;
}

.product-text {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
